{% extends 'base.html.twig' %}

{% block title %}All Classrooms
{% endblock %}

{% block body %}
<main class="classrooms">
	<div class="container">
		<div class="col">
			{% for classroom in classrooms %}
				<div class="col-md-4 mb-4">
					<div class="card">
							<img class="card-img-top" src={{ asset('images/salles.jpg') }} {{classroom.image}} alt="{{ classroom.name }}">
						<div class="card-body">
							<h5 class="card-title">{{ classroom.name }}</h5>
							<p class="card-text mx-4">{{ classroom.description }}</p>
							<a href="{{ path('classroom_show', { id: classroom.id }) }}" class="btn btn-primary">View Details</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
				<div class="d-flex justify-content-center my-5">
					{{ knp_pagination_render(classrooms) }}
				</div>
    </main>
{% endblock %}
