{% extends 'base.html.twig' %}

{% block title %}Description des Salles{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for classroom in classrooms %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ classroom.name }}</h5>
                            <p class="card-text">{{ classroom.description }}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Adresse:</strong> {{ classroom.address }}, {{ classroom.zip }} {{ classroom.city }}, {{ classroom.country }}</li>
                                <li class="list-group-item"><strong>Capacité:</strong> {{ classroom.gauge }}</li>
                                <li class="list-group-item"><strong>Étage:</strong> {{ classroom.floor }}</li>
                            </ul>
                            <a href="{{ path('classroom_details', {'id': classroom.id}) }}" class="btn btn-primary">Voir les détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
