<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="model-search-content">
							<div class="row">

								<div class="col-md-offset-1 col-md-2 col-sm-12">
    								<div class="single-model-search">
        								<h2>Choisissez les dates</h2>
        									<div class="model-select-icon">
            									{{ form_start(form) }}
            									{{ form_row(form.startDate) }}
            									{{ form_row(form.endDate) }}
            									{{ form_end(form) }}
        									</div>
    								</div>
								</div>								

								<div class="col-md-4">
    								<label for="software" class="form-label">Logiciels :</label>
    									<select id="software" name="software[]" multiple class="form-select">
        									{% for software in software %}
            									<option value="{{ software.id }}">{{ software.softwareName }}</option>
        									{% endfor %}
    									</select>
								</div>




								<div class="col-md-4">
    								<label for="prices" class="form-label">Prix :</label>
    									<select id="prices" name="prices[]" multiple class="form-select">
        									{% for booking in bookings %}
            									<option value="{{ booking.amount }}">{{ booking.amount }} €</option>
        									{% endfor %}
    									</select>
								</div>



								<div class="col-md-4">
    								<label for="equipments" class="form-label">Équipements :</label>
    									<select id="equipments" name="equipments[]" multiple class="form-select">
        									{% for equipment in equipments %}
            									<option value="{{ equipment.id }}">{{ equipment.option }}</option>
        									{% endfor %}
    									</select>
								</div>

								<div class="col-md-2 col-sm-12">
									<div class="single-model-search text-center">
										<button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
											search
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>