<div class="col-md-4 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">{{ classroom.name }}</h5>
            <p class="card-text">{{ classroom.description }}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Address:</strong> {{ classroom.address }}, {{ classroom.zip }} {{ classroom.city }}, {{ classroom.country }}</li>
                <li class="list-group-item"><strong>Capacity:</strong> {{ classroom.gauge }}</li>
                <li class="list-group-item"><strong>Floor:</strong> {{ classroom.floor }}</li>
            </ul>
        </div>
    </div>
</div>
