{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <div class="container py-5" id="c-account">

        <div id"">
            <div class="col-lg-4 mb-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body text-center">
                        <div class="avatar avatar-xxl profile-n-3 mb-3">
                            <img class="avatar-img rounded-circle border border-white border-3" src="images/users/homme.png" width="150" alt="User Avatar">
                        </div>
                        <h2 class="h5 mb-2">{{ app.user.name }}</h2>
                        <p class="text-muted mb-4">{{ app.user.email }}</p>
                        <button class="btn btn-outline-danger">
                        <a href="{{ path('complete_profile') }}"</a>
                            <i class="bi bi-pencil-fill pe-1"></i>
                            Update Profile
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h2 class="h5 mb-4">Account Information</h2>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-3">
                                <i class="bi bi-briefcase me-1"></i>
                                {{ app.user.siret }}
                            </li>
                            <li class="mb-3">
                                <i class="bi bi-geo-alt me-1"></i>
                                {{ app.user.phone }}
                            </li>
                            <li class="mb-3">
                                <i class="bi bi-geo-alt me-1"></i>
                                {{ app.user.address }}
                            </li>
                            <li class="mb-3">
                                <i class="bi bi-geo-alt me-1"></i>
                                {{ app.user.city }}, {{ app.user.zip }}
                            </li>
                            <li class="mb-3">
                                <i class="bi bi-geo-alt me-1"></i>
                                {{ app.user.country }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
