{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <div class="container py-5" id="c-account">
        <div id"">
            <div class="col-lg-4 mb-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body text-center">
                        <div class="avatar avatar-xxl profile-n-3 mb-3">
                            <img class="avatar-img rounded-circle border border-white border-3" src="images/users/homme.png" width="150" alt="User Avatar">
                        </div>
                        <h2 class="h5 mb-2">{{ app.user.name }}</h2>
                        <p class="text-muted mb-4">{{ app.user.email }}</p>
                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#updateModal">
                            <i class="bi bi-pencil-fill pe-1"></i>
                            Update Profile
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h2 class="h5 mb-4">Account Information</h2>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-3">
                                <i class="bi bi-briefcase me-1"></i>
                                {{ app.user.siret }}
                            </li>
                            <li class="mb-3">
                                <i class="bi bi-geo-alt me-1"></i>
                                {{ app.user.phone }}
                            </li>
                            <li class="mb-3">
                                <i class="bi bi-geo-alt me-1"></i>
                                {{ app.user.address }}
                            </li>
                            <li class="mb-3">
                                <i class="bi bi-geo-alt me-1"></i>
                                {{ app.user.city }}, {{ app.user.zip }}
                            </li>
                            <li class="mb-3">
                                <i class="bi bi-geo-alt me-1"></i>
                                {{ app.user.country }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updateModalLabel">Update your information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.corporateName) }}
                        {{ form_row(form.siret) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.address) }}
                        {{ form_row(form.city) }}
                        {{ form_row(form.zip) }}
                        {{ form_row(form.country) }}
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
